deploy/wf9-visibility-check.json
{
  "name": "WF9 - AI Visibility Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "visibility-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf9-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": "visibility-check"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ok\" } }}",
        "options": {}
      },
      "id": "wf9-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Honeypot + consent gate, then normalise. Return [] to stop silently.\nconst raw = $input.first().json;\nconst b = raw.body || raw;\nif (b.company_size && String(b.company_size).trim() !== '') return [];\nif (b.consent !== true && b.consent !== 'true') return [];\nconst email = String(b.email || '').trim().toLowerCase();\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) return [];\nlet website = String(b.website_url || '').trim();\nif (website && !/^https?:\\/\\//i.test(website)) website = 'https://' + website;\nif (!website) return [];\nreturn [{ json: {\n  name: String(b.name || '').trim(),\n  email,\n  phone: String(b.phone || '').trim(),\n  business_name: String(b.business_name || '').trim(),\n  website_url: website,\n  location: String(b.location || '').trim()\n} }];"
      },
      "id": "wf9-validate",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://geo-scan.cerberos.app' }}/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Scan-Token",
              "value": "={{ {{ $env.SCAN_TOKEN }} }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ business_name: $json.business_name, website_url: $json.website_url, location: $json.location, email: $json.email, name: $json.name, phone: $json.phone }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "wf9-scan",
      "name": "Scan (geo-scan)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "wf9-if",
      "name": "Scan OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ '{{ $env.BREVO_API_KEY }}' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $('Validate').item.json.email, updateEnabled: true, attributes: { FIRSTNAME: $('Validate').item.json.name, PHONE: $('Validate').item.json.phone, BUSINESS_NAME: $json.business_name, DOMAIN: $json.domain, TOWN: $json.town, TRADE: $json.trade, VISIBILITY_SCORE: $json.visibility_score, MENTION_RATE: $json.mention_rate, TOP_COMPETITOR: $json.top_competitor, SCAN_DATE: $now.format('yyyy-MM-dd') }, listIds: [ Number(10) ] }) }}",
        "options": {}
      },
      "id": "wf9-brevo-upsert",
      "name": "Brevo Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ '{{ $env.BREVO_API_KEY }}' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { email: 'hello@antekautomation.com', name: 'Antek Automation' }, to: [{ email: $('Validate').item.json.email, name: $('Validate').item.json.name }], subject: 'Your AI visibility result: ' + $('Scan (geo-scan)').item.json.business_name, htmlContent: '<p>Hi ' + ($('Validate').item.json.name || 'there') + ',</p><p>Your AI Visibility Check is attached. You scored <strong>' + $('Scan (geo-scan)').item.json.visibility_score + '/100</strong>. ' + ($('Scan (geo-scan)').item.json.headline || '') + '</p><p>Want the full picture? The GEO Audit is \u00a3247 with a prioritised fix list. Reply to this email or book at antekautomation.com/services/geo-audit.</p><p>Antek Automation \u00b7 Chantry House, 38 Chantry Way, Andover SP10 1LZ \u00b7 0333 038 9960</p>', attachment: [{ content: $('Scan (geo-scan)').item.json.pdf_b64, name: 'ai-visibility-check.pdf' }] }) }}",
        "options": {}
      },
      "id": "wf9-brevo-email",
      "name": "Brevo Email (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: '5324189697', text: 'New visibility check: ' + $('Scan (geo-scan)').item.json.business_name + ' (' + $('Scan (geo-scan)').item.json.town + ') scored ' + $('Scan (geo-scan)').item.json.visibility_score + '/100. Mentioned on ' + $('Scan (geo-scan)').item.json.platforms_mentioned + '/' + $('Scan (geo-scan)').item.json.platforms_tested + ' engines. Top competitor: ' + ($('Scan (geo-scan)').item.json.top_competitor || 'none') + '. Email: ' + $('Validate').item.json.email }) }}",
        "options": {}
      },
      "id": "wf9-telegram",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ '{{ $env.BREVO_API_KEY }}' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { email: 'hello@antekautomation.com', name: 'Antek Automation' }, to: [{ email: $('Validate').item.json.email, name: $('Validate').item.json.name }], subject: 'Your AI visibility check is on its way', htmlContent: '<p>Hi ' + ($('Validate').item.json.name || 'there') + ',</p><p>Your check is taking a little longer than expected. We will send your report shortly.</p><p>Antek Automation \u00b7 0333 038 9960</p>' }) }}",
        "options": {}
      },
      "id": "wf9-fail-email",
      "name": "Brevo Delay Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ '{{ $env.BREVO_API_KEY }}' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { email: 'hello@antekautomation.com', name: 'Antek Automation' }, to: [{ email: 'hello@antekautomation.com', name: 'Antek Operator' }], subject: '[INTERNAL] AI Visibility \u2014 ' + $('Scan (geo-scan)').item.json.business_name + ' (' + $('Scan (geo-scan)').item.json.visibility_score + '/100)', htmlContent: '<p>Lead: <strong>' + $('Scan (geo-scan)').item.json.business_name + '</strong> (' + $('Scan (geo-scan)').item.json.town + ')</p>' + '<p>Score ' + $('Scan (geo-scan)').item.json.visibility_score + '/100 \u00b7 mentioned ' + $('Scan (geo-scan)').item.json.platforms_mentioned + '/' + $('Scan (geo-scan)').item.json.platforms_tested + ' engines \u00b7 top competitor: ' + ($('Scan (geo-scan)').item.json.top_competitor || 'none') + '</p>' + '<p>Prospect: ' + $('Validate').item.json.name + ' \u00b7 ' + $('Validate').item.json.email + ' \u00b7 ' + ($('Validate').item.json.phone || 'no phone') + '</p>' + '<p>' + ($('Scan (geo-scan)').item.json.headline || '') + '</p>', attachment: [{ content: $('Scan (geo-scan)').item.json.operator_pdf_b64, name: $('Scan (geo-scan)').item.json.business_name + ' - operator report.pdf' }] }) }}",
        "options": {}
      },
      "id": "wf9-operator-report",
      "name": "Operator Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1604,
        408
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Scan (geo-scan)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan (geo-scan)": {
      "main": [
        [
          {
            "node": "Scan OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan OK?": {
      "main": [
        [
          {
            "node": "Brevo Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Brevo Delay Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brevo Upsert": {
      "main": [
        [
          {
            "node": "Brevo Email (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brevo Email (PDF)": {
      "main": [
        [
          {
            "node": "Telegram Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Notify": {
      "main": [
        [
          {
            "node": "Operator Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
